@model CoreDepartment.Models.Department

<form class="form-group" method="post" asp-controller="Departments" asp-action="AddDepartment">

    <label>Department Name</label>
    <input class="form-control" asp-for="DepartmentName"/>
    <br />
    <button class="btn btn-info">Add Department</button>

</form>